.time-table {
  margin: 18px 0;
}

.time-table__column-headings {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.time-table__column-heading {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  background-color: $mva-grey-2;
  padding-left: 12px;
  height: 40px;
}

.time-table__row {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  &:nth-child(even) {
    background-color: $mva-grey-1;
  }
  height: 36px;
}

.time-table__cell {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
}