<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /new_wip/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /new_wip/index.html [L]

</IfModule>