.mva-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: $mva-white;
  justify-content: space-between;
}

h1 {
  font-family: $pt-serif;
  font-size: 32px;
  font-weight: 500;
  color: $mva-grey-4;
  margin: 0;
}

h2 {
  font-family: $source-sans-pro;
  font-size: 20px;
  font-weight: 500;
  color: $mva-black;
  padding: 32px 0px 0px 0px;
  margin: 0;
}

p {
  font-family: $source-sans-pro;
  color: $mva-grey-3;
  line-height: 1.618;
  font-size: 18px;
}

a {
  font-family: $source-sans-pro;
  color: $mva-blue;
  line-height: 1.618;
  font-size: 18px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 286px;
  flex: 1 1 auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px 12px;
  min-width: 320px;
  @include respond-to('medium') {
    width: 960px;
    min-height: 420px;
  };
  @include respond-to('large') {
    width: 992px;
    min-height: 420px;
  };
}
