.home__intro-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  @include respond-to('medium') {
    flex-direction: row;
  };
}

.home__intro {
  @include respond-to('medium') {
    width: 250px;
  }
}
