.header {
  border-bottom: none;
  @include respond-to('medium') {
    width: 100%;
  };
}

.header__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mva-grey-1;
  text-align: center;
  flex-direction: column;
  height: 286px;
  @include respond-to('medium') {
    height: 136px;
    flex-direction: row;
  };
}

.header__dhamma-chakra {
  width: 100px;
  height: 100px;
  margin-right: 12px;
  background-image: url('./images/dhamma-chakra.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  line-height: 36px;
  @include respond-to('medium') {
    margin-top: 0;
    line-height: auto;
  };
  p {
    font-family: $pt-sans;
    color: $mva-grey-3;
    margin: 0;
    font-size: 15px;
    padding: 0 16px;
    margin-top: 6px;
    @include respond-to('medium') {
      margin-top: 0;
      padding: 0;
    };
  }
}

.header__dhamma-leaf {
  display: none;
  @include respond-to('medium') {
    display: block;
    width: 90px;
    height: 90px;
    margin-left: 12px;
    background-image: url('./images/dhamma-leaf.png');
    background-size: contain;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  };
}

.header__nav {
  display: none;
  @include respond-to('medium') {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    border-bottom: 1px solid $mva-gold;
    border-top: 1px solid $mva-grey-2;
  };
}

.header__buttons-container {
  display: flex;
  flex-basis: 992px;
  justify-content: space-between;
  > li {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    & .header__dropdown {
      background-color: $mva-white;
      a {
        text-transform: none;
        font-size: 16px;
        justify-content: left;
        border-bottom: 1px solid $mva-grey-2;
      }
    }
    &:hover .header__dropdown {
      left: 0;
      opacity: 1;
    }
  }
  > li .header__button {
    border-left: 1px solid $mva-grey-2;
  }
  > li:last-child .header__button {
    border-right: 1px solid $mva-grey-2;
  }
}

.header__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 36px;
  font-family: $source-sans-pro;
  font-size: 14px;
  color: $mva-dark-blue;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 32px;
  &:hover {
    color: $mva-green;
    cursor: pointer;
    text-decoration: underline;
  }
}

.header__image-banner {
  background-position: 72%;
  display: flex;
  flex: 1 1 auto;
  height: 220px;
  background-image: url('./images/ketunen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @include respond-to('medium') {
    background-position: center;
  };
}

.header__dropdown {
  border-top: 1px solid $mva-gold;
  position: absolute;
  left: -999em;
  top: 36px;
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  .fa-external-link-alt {
    margin-left: 8px;
    color: $mva-grey-5;
  }
}

.header__dropdown--about {
  width: 278px;
}

.header__dropdown--course-info {
  width: 212px;
}
