.header {
  @include respond-to('small') {
    border-bottom: none;
    display: none;
  };
  width: 100%;
}

.header__banner {
  display: flex;
  height: 136px;
  align-items: center;
  justify-content: center;
  background-color: $mva-grey-1;
}

.header__dhamma-chakra {
  width: 90px;
  height: 90px;
  margin-right: 12px;
  background-image: url('./images/dhamma-chakra.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-family: $pt-sans;
    color: $mva-grey-3;
    margin: 0;
    font-size: 15px;
  }
}

.header__dhamma-leaf {
  width: 90px;
  height: 90px;
  margin-left: 12px;
  background-image: url('./images/dhamma-leaf.png');
  background-size: contain;
  background-repeat: no-repeat;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.header__nav {
  @include respond-to('small') {
    display: none;
  };
  display: flex;
  justify-content: center;
  padding: 0 24px;
  border-bottom: 1px solid $mva-gold;
  border-top: 1px solid $mva-grey-2;
}
.header__buttons-container {
  display: flex;
  flex-basis: 960px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 36px;
  font-family: $source-sans-pro;
  font-size: 14px;
  color: $mva-dark-blue;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 32px;
  border-left: 1px solid $mva-grey-2;
  &:last-child {
    border-right: 1px solid $mva-grey-2;
  }
  &:hover {
    color: $mva-green;
    cursor: pointer;
    text-decoration: underline;
  }
}
.header__image-banner {
  display: flex;
  flex: 1 1 auto;
  height: 220px;
  background-image: url('./images/ketunen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
