.youth {
  position: relative;
  display: flex;
  text-align: left;
  margin-top: 24px;
  article {
    padding-right: 24px;
    flex: 1; 
    box-sizing: border-box;
  }
  aside {
    width: 260px;
  }
}

.youth__precept-list {
  margin-left: 40px;
  list-style-type: disc;
  li {
    margin-bottom: 28px;
  }
}

.youth__precept {
  color: $mva-grey-4;
  font-weight: bold;
  margin-bottom: 6px;
}

.youth__application-form-link {
  display: block;
}

#youth-sample-timetable {
  .time-table__column-heading {
    &:first-child {
      min-width: 190px;
      max-width: 190px;
    }
  }
  .time-table__cell {
    &:first-child {
      min-width: 190px;
      max-width: 190px;
    }
  }
}
