
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: black;
  background-image: url('./images/error.svg');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}
